version: '2'

volumes:
    pgdata:
        driver: local

services:
    nginx:
        restart: always
        image: nginx:latest
        expose:
          - 8080
        ports:
          - "80:8080"
        volumes:
            - ./TimeTableL/logs:/srv/TimeTable/logs
            - ./docker/nginx:/etc/nginx/conf.d
            - ./TimeTableL/static:/srv/TimeTable/static
            - ./TimeTableL/static/media:/srv/TimeTable/static/media
        depends_on:
            - python
    python:
        restart: always
        build:
            context: .
            dockerfile: docker/python/Dockerfile
        volumes:
            - ./TimeTableL/static:/srv/TimeTable/static
            - ./TimeTableL/static/media:/srv/TimeTable/static/media
        expose:
          - 8000
        ports:
            - 8000:8000
        command: bash -c "python manage.py migrate &&  gunicorn -c gunicorn_conf.py timetable.wsgi"
        depends_on:
            - db

    db:
        restart: always
        image: postgres:latest
        container_name: ps01